pipeline/if_else.json
{
	"name": "if_else",
	"properties": {
		"activities": [
			{
				"name": "for_loop_get_json_file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_filename').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Blob_to_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "FileServerWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "hanif_Blob_JSON",
									"type": "DatasetReference",
									"parameters": {
										"container": "training",
										"folder": "data",
										"file": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "hanif_Fileshare_JSON",
									"type": "DatasetReference",
									"parameters": {
										"folder": "data",
										"file": {
											"value": "@item().file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "lookup_filename",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "hanif_SQL_Server",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "list_json_file"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"filename": {
				"type": "Array",
				"defaultValue": [
					"documents.json",
					"example.json"
				]
			}
		},
		"folder": {
			"name": "Practice Case Day 2"
		},
		"annotations": []
	}
}