pipeline/main_pipeline_postgre.json
{
	"name": "main_pipeline_postgre",
	"properties": {
		"activities": [
			{
				"name": "lookup_job_name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select job_name,table_name from dbo.job_map where job_name = ''', pipeline().parameters.job_name, '''')\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "hanif_SQL_Server",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "looping_table_name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_job_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_job_name').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "postgre_to_sql",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "postgre_to_sql",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"table_name": {
										"value": "@item().table_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"job_name": {
				"type": "string",
				"defaultValue": "app_transaction"
			}
		},
		"folder": {
			"name": "Ingest Data"
		},
		"annotations": []
	}
}